.page_Heroes {
  position: relative;
  background: $background;
  & > div {
    background: $background;
  }
  &_loading {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
    animation: animationIn 0.7s ease forwards;
  }
  &_content {
    height: 100%;

    

 
   
    &-placeholder {
      font-size: 12px;
      padding-right: 5px;
    }
  }
}
