.page_Main {
  position: relative;
  background: $background;
  & > div {
    background: $background;
  }
  &_cover {
    width: 100%;
    height: 427px;
    overflow: hidden;
    position: absolute;
    display: flex;
    align-items: flex-start;
    justify-content: center;
    & > img {
      margin-top: -242px;
    }
  }

  &_buttonWrap {
    display: flex;
    justify-content: center;
    gap: 5px;
    padding-top: 427px;
    margin: 10px;
    @media (max-width: $breakpoint-s) {
      font-size: 10px !important;
    }
  }

  &_bottomWrap {
    display: flex;
    align-items: center;

    justify-content: center;
    font-size: 10px;
    height: 100%;
    color: $white;
  }
}
