.page_Main {
  position: relative;
  background: $background;
  & > div {
    background: $background;
  }
  &_cover {
    width: 100%;
    height: 427px;
    overflow: hidden;
    position: absolute;
    display: flex;
    align-items: flex-start;
    justify-content: center;
    & > img {
      margin-top: -242px;
    }
  }

  &_text {
    max-width: 500px;
    color: $white;
    font-size: 28px;
    margin: 427px auto 0;
    text-align: center;
  }
}
