.modal {
  position: absolute;
  width: 100%;
  height: 100%;
  z-index: 9000;

  & > * {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 500px;

    max-height: 100vh; // limiting screen heights
    overflow-y: auto;  // scrollbar whe overflow

    z-index: 100;
    background: white;
    box-shadow: 0 2px 10px rgba(255, 255, 255, 0.3);
    border-radius: 8px;
  }

  &::before {
    content: "";
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.4);
    backdrop-filter: blur(8px);
    z-index: 10;
  }

  // Mobile view
  @media (max-width: $breakpoint-s) {
    & > * {
      width: 100%;
      height: 100%;
      top: 0;
      left: 0;
      transform: none;
      max-height: 100%;
      overflow-y: auto;
      border-radius: 0;
    }
  }
}
