@import "../scss/_variables"; //переменные
.Page_Main{
    background-color: #080808;
    width: 100%;
	.mainLogo{
		position: relative;
		height: 427px;
    	
		overflow: hidden;
		>div{
			position: absolute;
			top: -177px;
			right: 50%;
			left: 50%;
			>img{
				left: -700px;
    			position: absolute;
			}

		}
    }
    .buttonsBlock{
        display: flex;
        justify-content: center;
        >div{
           
            margin: 100px 20px 20px;
		}
		@include respond-down(sm){
			transform: scale(0.7);
		}
		@include respond-down(xs){
			transform: scale(0.5);
		}
    }
}
