.component_ButtonsNavigate {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
  gap: 10px;
  margin: 0 10px;

  &_homeButton {
    position: relative;
    flex-shrink: 0;
    cursor: pointer;
    overflow: hidden;
    width: 40px;
    height: 40px;
    & > img {
      width: 270px;
      position: absolute;
      top: -68px;
      left: -115px;
    }
    @media (max-width: $breakpoint-s) {
      height: 28px;
      width: 28px;
      & > img {
        width: 179px;
        position: absolute;
        top: -44px;
        left: -75px;
      }
    }
    @media (max-width: $breakpoint-xs) {
      height: 17px;
      width: 17px;
      & > img {
        width: 110px;
        position: absolute;
        top: -28px;
        left: -46px;
      }
    }
  }
  @media (max-width: $breakpoint-s) {
    & > div {
      height: 28px;
      font-size: 16px !important;
    }
  }
  @media (max-width: $breakpoint-xs) {
    & > div {
      height: 17px;
      font-size: 10px !important;
    }
  }
}
