.component_ButtonGlow {
  overflow: hidden;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  font-size: 22px;
  width: 180px;

  border: 1px solid white;
  border-radius: 6px;
  padding: 3px 0 5px 0;
  color: $white;

  transition: all 0.5s;


  &:hover {
    color: $white;
    animation: neon 1.5s ease-in-out infinite alternate;
  }
  &_selected {
    color: $white;
    animation: neon 1.5s ease-in-out infinite alternate;
  }
}
