.component-dividerWithText {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 8px;

  &-divider {
    width: 100%;
    border: 1px solid $white;
  }
  &-text {
    font-weight: 400;
    font-size: 16px;
    color: $white;
  }
}
