.component_PaginationLoading {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  padding: 24px 0;

  &_loadingBar {
    position: relative;
    width: 200px;
    height: 6px;
    background: #e5e7eb;
    border-radius: 3px;
    overflow: hidden;
  }
  &_progress {
    position: absolute;
    left: -50%;
    top: 0;
    height: 100%;
    width: 50%;
    background: linear-gradient(90deg, #3b82f6, #2563eb);
    animation: paginationLoadingSlide 1s infinite linear;
    border-radius: 3px;
  }
}


@keyframes paginationLoadingSlide {
  from {
    left: -50%;
  }
  to {
    left: 100%;
  }
}
