.component_SpinnerCircle {
  display: inline-block;
  position: relative;
  &_color {
    width: 100%;
    height: 100%;
    border: 3px solid $primary;
    border-top-color: transparent;
    border-radius: 50%;
    animation: spin 0.8s linear infinite;
    box-sizing: border-box;
  }

  // $white
  &_White {
    border: 3px solid $white;
    border-top-color: transparent;
  }

  // $primary
  &_Primary {
    border: 3px solid $primary;
    border-top-color: transparent;
  }

  // $secondary
  &_Secondary {
    border: 3px solid $secondary;
    border-top-color: transparent;
  }

  // $error
  &_Error {
    border: 3px solid $error;
    border-top-color: transparent;
  }

  @keyframes spin {
    0% {
      transform: rotate(0deg);
    }
    100% {
      transform: rotate(360deg);
    }
  }
}
