.component_WrapperPage {
  height: 100%;
  max-height: inherit;
  overflow-y: auto;
  &_topBlock {
    z-index: 2;
    width: 100%;
    background-color: $white;
    top: 0;
    position: absolute;
  }

  &_middleBlock {
    height: 100%;
    width: 100%;
    overflow-y: auto;
    max-height: 100%;
    position: relative;
  }

  &_bottomBlock {
    z-index: 2;
    width: 100%;
    background-color: $white;
    bottom: 0;
    position: absolute;
  }
}
