.component_WrapperModal {
  height: 100%;
  max-height: inherit;
  overflow-y: auto;

  &_topBlock {
    z-index: 1;
    width: 100%;
    top: 0;
    position: absolute;
  }

  &_middleBlock {
    width: 100%;
    overflow-y: auto;
    max-height: 100%;
  }

  &_bottomBlock {
    z-index: 1;
    width: 100%;
    bottom: 0;
    position: absolute;
  }
}
