@font-face {
	font-family: 'Raleway';
	src: url('Raleway-Regular.ttf');
	src: url('Raleway-Regular.eot');
	src: url('Raleway-Regular.woff2') format('woff2'),
	url('Raleway-Regular.woff') format('woff'),
	url('Raleway-Regular.otf') format("opentype"),
	url('Raleway-Regular.ttf') format('truetype'),
	url('Raleway-Regular.svg#Raleway-Regular') format('svg'),
	url('Raleway-Regular.eot?#iefix') format('embedded-opentype');
	font-style: normal;
}


@font-face {
	font-family: 'Nosifer-Regular';
	src: url('Nosifer-Regular.ttf');
	src: url('Nosifer-Regular.eot');
	src: url('Nosifer-Regular.woff2') format('woff2'),
	url('Nosifer-Regular.woff') format('woff'),
	url('Nosifer-Regular.otf') format("opentype"),
	url('Nosifer-Regular.ttf') format('truetype'),
	url('Nosifer-Regular.svg#Nosifer-Regular') format('svg'),
	url('Nosifer-Regular.eot?#iefix') format('embedded-opentype');
	font-style: normal;
}


/*
@font-face {
	font-family: 'Open Sans';
	src: url('OpenSans/OpenSans-Bold.eot');
	src: url('OpenSans/OpenSans-Bold.woff2') format('woff2'),
	url('OpenSans/OpenSans-Bold.woff') format('woff'),
	url("OpenSans/OpenSans-Bold.otf") format("opentype"),
	url('OpenSans/OpenSans-Bold.ttf') format('truetype'),
	url('OpenSans/OpenSans-Bold.svg#OpenSans-Bold') format('svg'),
	url('OpenSans/OpenSans-Bold.eot?#iefix') format('embedded-opentype');
	font-weight: 700;
	font-style: normal;
  }
  @font-face {
	font-family: 'Open Sans';
	src: url('OpenSans/OpenSans-BoldItalic.eot');
	src: url('OpenSans/OpenSans-BoldItalic.woff2') format('woff2'),
	url('OpenSans/OpenSans-BoldItalic.woff') format('woff'),
	url("OpenSans/OpenSans-BoldItalic.otf") format("opentype"),
	url('OpenSans/OpenSans-BoldItalic.ttf') format('truetype'),
	url('OpenSans/OpenSans-BoldItalic.svg#OpenSans-BoldItalic') format('svg'),
	url('OpenSans/OpenSans-BoldItalic.eot?#iefix') format('embedded-opentype');
	font-weight: 700;
	font-style: italic;
  }
  @font-face {
	font-family: 'Open Sans';
	src: url('OpenSans/OpenSans-SemiBold.eot');
	src: url('OpenSans/OpenSans-SemiBold.woff2') format('woff2'),
	url('OpenSans/OpenSans-SemiBold.woff') format('woff'),
	url("OpenSans/OpenSans-SemiBold.otf") format("opentype"),
	url('OpenSans/OpenSans-SemiBold.ttf') format('truetype'),
	url('OpenSans/OpenSans-SemiBold.svg#OpenSans-Bold') format('svg'),
	url('OpenSans/OpenSans-Regular.eot?#iefix') format('embedded-opentype');
	font-weight: 600;
	font-style: normal;
  }
  @font-face {
	font-family: 'Open Sans';
	src: url('OpenSans/OpenSans-Light.eot');
	src: url('OpenSans/OpenSans-Light.woff2') format('woff2'),
	url('OpenSans/OpenSans-Light.woff') format('woff'),
	url("OpenSans/OpenSans-Light.otf") format("opentype"),
	url('OpenSans/OpenSans-Light.ttf') format('truetype'),
	url('OpenSans/OpenSans-Light.svg#OpenSans-Light') format('svg'),
	url('OpenSans/OpenSans-Light.eot?#iefix') format('embedded-opentype');
	font-weight: 600;
	font-style: italic;
  }
  */