@font-face {
	font-family: 'Raleway';
	src: url('Raleway-Regular.ttf');
	src: url('Raleway-Regular.eot');
	src: url('Raleway-Regular.woff2') format('woff2'),
	url('Raleway-Regular.woff') format('woff'),
	url('Raleway-Regular.otf') format("opentype"),
	url('Raleway-Regular.ttf') format('truetype'),
	url('Raleway-Regular.svg#Raleway-Regular') format('svg'),
	url('Raleway-Regular.eot?#iefix') format('embedded-opentype');
	font-style: normal;
}


@font-face {
	font-family: 'Nosifer-Regular';
	src: url('Nosifer-Regular.ttf');
	src: url('Nosifer-Regular.eot');
	src: url('Nosifer-Regular.woff2') format('woff2'),
	url('Nosifer-Regular.woff') format('woff'),
	url('Nosifer-Regular.otf') format("opentype"),
	url('Nosifer-Regular.ttf') format('truetype'),
	url('Nosifer-Regular.svg#Nosifer-Regular') format('svg'),
	url('Nosifer-Regular.eot?#iefix') format('embedded-opentype');
	font-style: normal;
}

