@import "../scss/_variables"; //переменные
.ButtonLevel3{
    cursor: pointer;
  
    .dis-pushed{
        color: #777!important;
        transition:all 500ms ease;
    }
    .selected{
        transition:all 500ms ease;
    }
    .diselected{
        color: #999!important;
        transition:all 500ms ease;
    }
    .disabled{
        color: #444!important;
        transition:all 500ms ease;
        opacity: 0.6;
    }
   
}
