@import "../scss/_variables"; //переменные
.ModalHoc{
    z-index: 10;
    background-color: rgba(73, 61, 61, 0.5);;
    position: fixed;
    width: 100%;
    height: 100%;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    margin: auto;
    .content{
        overflow: auto;
        border: 1px solid white;
        z-index: 11;
        background-color: black;
        color: black;
        position: absolute;
        left: 10%;
        right: 10%;
        top: 10%;
        bottom: 10%;
        min-width: 256px;
        .image{
            display: flex;
            border-bottom: 1px solid white;
            position: relative;
            align-items: center;
            .glass{
                top: 0;
                background-color: rgba(255, 34, 0, 0.234);
                position: absolute;
                width: 100%;
                height: 100%;
            }
            .contImg{
                width: 20%;
                img{
                    width: 100%;
                }
            }
            .contText{
                width: 80%;
                font-family: 'Nosifer-Regular';
                color: #F0493B;
                font-weight: 900;
                font-size: 5em;
                text-shadow: 0px 3px 3px rgb(255, 136, 117); 
                
                @include respond-down(sm){
					font-size: 3em;
                }
                @include respond-down(xs){
					font-size: 2em;
                }
            }
            .close{
                @include respond-down(md){
                    transform: scale(0.7);
                    top: 7px;
                    right: 7px;    
                }
                @include respond-down(xs){
                    transform: scale(0.7);
                    top: 4px;
                    right: 4px;
                    .text{
                        display: none;
                    }
                }
                top: 15px;
                right: 15px;
                position: absolute;
                cursor: pointer;
                text-align: center;
                .cross{
                    fill: #f0493b;
                }
                .text{
                    color:#f0493b;
                }
                transition:all 500ms ease;
                &:hover{
                    transform: scale(1.1);
                }
              
            }
            
        }

        
        .title{
            .heroes{
                .title{
                    display: block;
                    font-family: 'Nosifer-Regular';
                    color: white;
                    text-decoration: none;
                    padding-top: 8px;
                    padding-left: 4px;
                }
                .topCont{
                    &:after{
                        display: block;
                        clear: both;
                        content: "";
                    }
                    .avatar{
                        padding-right: 4px;
                        padding-left: 4px; 
                        float: left;
                        height: 100%;
           
                    }
                
                    .bio{
                        color: white;
                        font-size: 0.8em;
                    }
                    
                    
                }
                .skillsTitle{
                    padding-left: 4px;
                    color: white;
                    font-family: 'Nosifer-Regular';
                }
                
                .skills{
                    
                    .skill{
                        color: white;
                        padding-bottom: 6px;
                        border-bottom: 1px solid white;
                        &:after{
                            display: block;
                            clear: both;
                            content: "";
                        }
                        img{
                            padding-right: 4px;
                            padding-left: 4px; 
                            width:60px;
                            float: left;
                        }
                        .titl{
                            margin-top: 4px;
                            font-weight: 900;
                            font-size: 0.8em;
                        }
                        .typ{
                            text-decoration: underline;
                            font-weight: 700;
                            padding: 4px 0;
                            font-size: 0.7em;
                        }
                        .desc{
                            font-size: 0.7em;
                        }
                    }
                }
            }
            .news{
                .title{
                    display: block;
                    font-family: 'Nosifer-Regular';
                    color: white;
                    text-decoration: none;
                    padding-top: 8px;
                    padding-left: 4px;
                }
                .text{
                    font-size: 0.8em;
                    word-wrap: break-word;
                    width: 100%;
                    color: white;

                    a{
                        color: #888;
                    }
                    img{
                        width: 100%;
                    }
                }
            }
            .items{
                .title{
                    display: block;
                    font-family: 'Nosifer-Regular';
                    color: white;
                    text-decoration: none;
                    padding-top: 8px;
                    padding-left: 4px;
                }
                .cont{
                    display: flex;

                    .imgWrap{
                        width: 98px;
                        border-right: 2px solid white;
                        img{
                            padding-right: 4px;
                            padding-left: 4px; 
                            float: left;
                            width: 95px;
                        }
                    }
                    .contWrap{
                        padding-left: 7px;
                        .cost{
                            color: white;
                            font-size: 0.8em;
                            padding-bottom: 5px;
                        }
                        .attr{
                            color: white;
                            font-size: 0.8em;
                        }
                    }
                   

                }
                .desc{
                    font-size: 0.8em;
                    color: white;
                    h1{
                        font-size: 1em;
                    }
                    
                }
                
            }
            
        }
    }
}

