* {
  font-family: "Ojuju" !important;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

ul[class],
ol[class] {
  padding: 0;
}

body,
h1,
h2,
h3,
h4,
p,
ul[class],
ol[class],
li,
figure,
figcaption,
blockquote,
dl,
dd {
  margin: 0;
}

html,
body {
  overflow: hidden;
  height: 100%;
}

#root {
  overflow: hidden;
  height: 100%;
  position: relative;
}

#root > * {
  overflow: auto;
}

h2 {
  font-weight: 700;
  font-size: 22px;
}

input,
button,
textarea,
select {
  font: inherit;
}

.GLOBAL_img_TEST {
  width: 150px;
  height: 150px;
}

@font-face {
	font-family: 'Ojuju';
	src: url('../assets/fonts/Ojuju-Regular.ttf');
	src: url('../assets/fonts/Ojuju-Regular.ttf') format('truetype');
	font-style: normal;
}




.no_select {
  -webkit-tap-highlight-color: transparent;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

/* react-toastify */
.Toastify__toast--error {
  background-color: #f9e9ec;
  border: 1px solid #ff8ca1;
}
